@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-primary-1: #ffffff;
    --color-text-primary-2: #fdfdfd;
    --color-text-primary-3: #f5f5f5;
    --color-text-primary-4: #f0f0f0;
    --color-text-primary-5: #dadada;
    --color-text-primary-6: #c1c1c1;
    --color-text-primary-7: #8f8f8f;
    --color-text-primary-8: #5d5d5d;
    --color-text-primary-9: #494949;
    --color-text-primary-10: #2b2b2b;
    --color-text-primary-11: #232323;
    --color-text-primary-12: #191919;
    --color-text-primary-13: #050505;
  }
}


body {
  font-family: Archivo;
}

.nasalization {
  font-family: nasalization;
}


.picture-gradient {
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.generate-gradient {
  background: linear-gradient(180deg, #2B2B2B 0%, #5E5E5E 41.4%, #919191 100%);
}